<%# <h1>For Map</h1> %>


<div id="planView" data-controller="plan">
  <div id="spotPlanningSection">
  </div>
  <div id="googleMapSection" 
       data-action="mapsLoaded@document->plan#renderMap"
       data-plan-target="initialmap"
  ></div>
</div>
<%= javascript_pack_tag 'trip_body_vue' %>

