<div class="searchMessage"></div>
<div data-controller="mapInSearch" id="searchPageBox">

  <div id="searchSection">

    <div class="searchtitle">
      <h2>新增景點</h2>
      <button data-action="click->mapInSearch#backToPlanPage">返回</button>
    </div>

    <div>
      <div data-controller="spotfinder" class="searchForm">
        <form>
          <input data-spotfinder-target="cityinput" type="text" placeholder="城市">
          <button data-spotfinder-target="clearCitybtn" data-action="click->spotfinder#clearCityInput" class="cleanInput1"><i class="fas fa-eraser"></i></button>
          <input data-spotfinder-target="keywordinput" type="text" placeholder="景點關鍵字">
          <button data-spotfinder-target="clearKeywordbtn" data-action="click->spotfinder#clearKeywordInput" class="cleanInput2"><i class="fas fa-eraser"></i></button>
          <a data-action="click->spotfinder#search" href=""><button>搜尋</button></a>
        </form>
        <div class="loaderBox">
          <img class="loadingGif" src="/images/search_loader.gif">
          <p>景點搜尋中</p>
        </div>
      </div>
      <div class="hide-spotid-in-search"></div>
      <div class="searchResultBox" data-controller="spotInfo">
      </div>
    </div>

  </div>

  <div id="mapInSearchSection"
       class="mapInSearchSection"
       data-action="mapsLoaded@document->mapInSearch#renderMap">
  </div>

  <div class="hide-confirmed-message">
    <div class="confirmed-message-content">
      <i class="fas fa-bell confirmed-message-reminder-icon"></i>
      <p>這個景點已經存在當天的行程囉!確定要再次加入嗎？</p>
      <div>
        <button data-action="click->mapInSearch#closeConfirmModal"><i class="far fa-times-circle"></i> 取消</button>
        <button data-action="click->mapInSearch#confirmToAddSpot"><i class="far fa-check-circle"></i> 確定</button>
      </div>
    </div>
  </div>

</div>