
<div data-controller="mapInSearch" id="searchPageBox">

  
  <div id="searchSection">

    <div class="searchtitle">
      <h2>新增景點</h2>
      <i class="fas fa-times"></i>
    </div>

    <div>
      <div data-controller="spotfinder" class="searchForm">
        <form>
          <input data-spotfinder-target="cityinput" type="text" placeholder="城市">
          <button data-spotfinder-target="clearCitybtn" data-action="click->spotfinder->clearCityInput" class="cleanInput1"><i class="fas fa-eraser"></i></button>
          <input data-spotfinder-target="keywordinput" type="text" placeholder="景點關鍵字">
          <button data-spotfinder-target="clearKeywordbtn" data-action="click->spotfinder->clearKeywordInput" class="cleanInput2"><i class="fas fa-eraser"></i></button>
          <a data-action="click->spotfinder#search" href=""><button>搜尋</button></a>
        </form>
        <div class="loaderBox">
          <img class="loadingGif" src="/images/loading.gif">
          <p>景點搜尋中</p>
        </div>
      </div>
      <div class="searchResultBox">
      </div>
    </div>

  </div>

  <div id="mapInSearchSection"
       data-action="mapsLoaded@document->mapInSearch#renderMap">
  </div>

</div>