<%- if controller_name != 'sessions' %>
<p>已有GoTrip帳號？請
  <%= link_to "由此登入", new_session_path(resource_name) %></p><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>尚未成為GoTrip會員？請
  <%= link_to "由此註冊", new_registration_path(resource_name) %></p><br />
<% end %>


<%= link_to "使用GOOGLE帳號登入", user_google_oauth2_omniauth_authorize_path, method: :post %><br />
<%= link_to "使用GITHUB帳號登入", user_github_omniauth_authorize_path, method: :post %><br />
