
<div id="searchPageBox">

  
  <div id="searchSection">
    <div class="searchtitle">
      <h2>新增景點</h2>
      <i class="fas fa-times"></i>
    </div>
    <div class="searchForm">
      <form action="">
        <input type="text" placeholder="城市">
        <input type="text" placeholder="景點關鍵字">
        <a href=""><button>搜尋</button></a>
      </form>
    </div>
    <div class="searchResultBox">
    </div>
  </div>


  <div id="mapInSearchSection"></div>

</div>