<%= render 'layouts/header_index' %>

<div class="about-container">
  <div class="about-wrap">
    <section class="about-gotrip-intro">
      <div class="about-logo-wrap">
        <img src="/images/full-logo.png" alt="GoTrip" class="about-gotrip-logo">
      </div>
      <div class="about-intro-wrap">
        <p>你是一個旅行前需要規劃的人嗎？</br>
        你是一個喜歡和朋友一起出遊的人嗎？</br>
        你是一個需要Google Map才能旅遊的人嗎？</br>
        </br>
        使用GoTrip! Create your own trip!</br>
        </br>
        介面一目瞭然，輕鬆編輯旅程</br>
        隨時調整行程，同步更新最新資訊</br>
        邀請朋友一同編輯，規劃行程更有效率</br>
        收藏旅程，紀錄每個獨一無二的旅遊足跡</br>
        </p>
      </div>
    </section>
    <section class="about-team-title">吉祥物出去玩小組</section>
    <section class="about-team">
      
      <div class="about-team-item">
        <div class="about-member-photo">
          <img src="/images/members/RoyWang.jpg" alt="Roy Wang">
        </div>
        <div class="about-member-info">
          <p>王晨驊</p>
          <span>Roy Wang</span>
          <div class="about-member-link">
            <a href="https://github.com/roywangroytw"><i class="fab fa-github-square"></i></a>
            <a href="mailto:roywangroy.tw@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </div>

      <div class="about-team-item">
        <div class="about-member-photo">
          <img src="/images/members/LizWang.jpg" alt="Liz Wang">
        </div>
        <div class="about-member-info">
          <p>王俐心</p>
          <span>Liz Wang</span>
          <div class="about-member-link">
            <a href="https://github.com/Lihsin0427"><i class="fab fa-github-square"></i></a>
            <a href="mailto:lihsin0427@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </div>

      <div class="about-team-item">
        <div class="about-member-photo">
          <img src="/images/members/LilithJin.jpg" alt="Lilith Jin">
        </div>
        <div class="about-member-info">
          <p>靳佳霓</p>
          <span>Lilith Jin</span>
          <div class="about-member-link">
            <a href="https://github.com/Lilith-Jin"><i class="fab fa-github-square"></i></a>
            <a href="mailto:li6253462@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </div>
      
      <div class="about-team-item">
        <div class="about-member-photo">
          <img src="/images/members/ZhujunLi.png" alt="Zhujun Li">
        </div>
        <div class="about-member-info">
          <p>李竹君</p>
          <span>Zhujun Li</span>
          <div class="about-member-link">
            <a href="https://github.com/takekun2210"><i class="fab fa-github-square"></i></a>
            <a href="mailto:rinko2210@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </div>

      <div class="about-team-item">
        <div class="about-member-photo">
          <img src="/images/members/TsaoyuanChuang​.jpg" alt="Tsaoyuan Chunag">
        </div>
        <div class="about-member-info">
          <p>莊肇元</p>
          <span>Tsaoyuan Chuang</span>
          <div class="about-member-link">
            <a href="https://github.com/tsaoyuan"><i class="fab fa-github-square"></i></a>
            <a href="mailto:tsao.yuan@gmail.com"><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </div>


    </section>
  </div>
</div>

<%= render 'layouts/footer' %>