  GOOGLE_CLIENT_ID: "GOOGLE_CLIENT_ID"
  GOOGLE_CLIENT_SECRET: "GOOGLE_CLIENT_SECRET"
  GOOGLE_API_KEY: "GOOGLE_API_KEY"
  GOOGLE_API_KEY_SEARCH: "GOOGLE_API_KEY_SEARCH"


  GITHUB_CLIENT_ID: "GITHUB_CLIENT_ID"
  GITHUB_CLIENT_SECRET: "GITHUB_CLIENT_SECRET"

  AWS_ACCESS_KEY_ID: "AWS_ACCESS_KEY_ID"
  AWS_ACCESS_SECRET_KEY: "AWS_ACCESS_SECRET_KEY"
  FOG_DIRECTORY: "FOG_DIRECTORY"