<%#This page does not exist. Please go back.%>
<section class="gotrip-index-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="/images/index_img/1.jpg" class="d-block index-img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/index_img/2.jpg" class="d-block index-img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/index_img/3.jpg" class="d-block index-img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/index_img/4.jpg" class="d-block index-img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/images/index_img/5.jpg" class="d-block index-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="gotrip-index-content">
    <div class="gotrip-index-wrap font-dark">
      <h1>404</h1>
      <p>咦？！您搜尋的頁面好像不存在噎!</p>
      <div class=''>
        <%= link_to "返回上頁", :back, class: "gotrip-start-btn" %>
      </div>
    </div>
  </section>
</section>

<%= render 'layouts/footer' %>