<h1>修改權限</h1>

<%= form_for(@user_trip_role, url: rights_update_path) do |form| %>
 <div class="fields">
    <%= form.label :role, "權限" %>
    <%= form.select :role, options_from_collection_for_select(UserTrip.all, :role, :role), {include_blank: true}%>
  <%= form.submit,"儲存"%>
 </div>
<% end %>