<h1>邀請朋友頁</h1>

<section class="invite">
<% @users.each do |user| %>
<ul>
    <li>角色：<%= user.current_trip_role(params[:trip_id]) %></li>
    <li>姓名：<%= user.name %></li>
    <li>e-mail：<%= user.email %></li>
</ul>
<% end %>
</section>

<div class='nav-container'>
    <form class="search-field">
    <div>
        <label for ="emailaddress">邀請朋友加入行程</label>
    </div>
    <input id ="emailaddress" type="email" class="search-term" placeholder="請輸入email" title="請輸入正確的e-mail">
    <button type="submit" class="search-button">搜尋</button>
    </form>
</div>