
 <div id="searchsection">
   <div class="searchtitle">
    <h1>邀請朋友加入行程</h1>
   </div>
   <div data-controller="tripinvite" class="searchform">
    <form>
          <input data-tripinvite-target="emailinput" type="email" placeholder="請輸入e-mail">
          <a data-action="click->tripinvite#search" href=""><button class="searchbtn">搜尋</button></a>
    </form>
   </div>
     <div>
      <div class="searchresultbox">
     </div>
    </div>
</div>
 

 



