.about-container{
  position: relative;
  width: 100vw;
  height: calc(100% - 20px);
  margin: 0, auto;
  background: rgb(255,226,89);
  background: linear-gradient(225deg, rgba(255,226,89,1) 15%, rgba(237,150,70,1) 100%);
}
.about-wrap{
  min-width: 300px;
  background-color: aquamarine;
  padding-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.about-gotrip-intro{
  p{
    margin-top: 50px;
    color: #262C4C;
    font-size: medium;
    line-height: 28px;
  }
}

.about-gotrip-logo{
  margin-top: 50px;
  width: 100%;
}

@media screen and (min-width: 768px){
  .about-wrap{
    padding-top: 150px;
  }
  .about-gotrip-intro{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-logo-wrap{
    width: 40vw;
    background-color: burlywood;
  }
  .about-intro-wrap{
    width: 40vw;
    background-color: cornflowerblue;
    padding-left: 30px;
  }
  .about-team{
    display: flex;
  }
}