body{
  font-family: 'Noto Sans TC', STHeiti, PingFang, 'Microsoft JhengHei', sans-serif, Verdana, Charcoal;
  color: #262D4B;

  input:focus {
    outline-color: #DB6A43;
  }
  
  a{
    text-decoration: none;
  }
  ::selection {
    background: #DB6A43;
    color: white;
  }
  ::-moz-selection {
    background: #DB6A43;
    color: white;
  }
}
.gotrip-all-container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}