.hide-right-section{
    visibility: hidden;
  }
  
.show-right-section{
    visibility: visible;
  }

.authority-hide-trip-id {
    visibility: hidden;
  }

.rightEditTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  h1 {
    font-size: 25px;
  }

}

.rightresultbox {
    padding-top: 30px;
    height: calc(100vh - 300px);
    position: relative;

  p {
      width: 80%;
      font-size: 1.5rem;
      text-align: center;
  
  }
}

.rightresultdiv {
  width: 100%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
}


.deletebtn{
  width: 100px;
  margin-top: 0px;
  margin-right: 0px;
}

.main-rightresultdiv{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightsection {
  display: flex;
  justify-content: center;
}

.rightinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;

  p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }

  p:nth-child(2) {
    font-size: 1.3rem;
  }

  p:nth-child(3) {
    font-size: 1.3rem;
  }

}

.au-closebtn{
  width: 40px;
  height: 40px;
  background-color: #623AD6;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  }

.rightdetale{
  width: 150px;
}


label {
  width: 100%;
  font-size: 1rem;
  padding-right: 10px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  font-size: .9rem;
  padding: 2px 5px;
  border-radius: 8px;
}

.deletebtn{
  width: 100%;
  height: 30px;
  background-color: rgb(209, 209, 209);
  color: black;
  // font-size: 1px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;

  p {
    width: 100%;
    font-size: 1rem;
    text-align: center;

  }

}

.deletebtn:hover {
  cursor: pointer;
}

.deletefriendmessagediv{
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletefaildmessagediv{
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


