#rightresultcard{
  width: 100%;
  height: calc(100% - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .roleeditmodal{
    width: 80%;
    height: 500px;
    max-width: 800px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

.rightedittitle {
  width: 100%;
  height: 70px;
  border-bottom: 4px solid #EDBB46;
  background: linear-gradient(90deg, rgba(20,30,48,1) 32%, rgba(36,59,85,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 25px;
  }


  .au-closebtn{
    width: 30px;
    height: 30px;
    background-color: #35537500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
  }

  p {
    color: white;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .au-closebtn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #262D4B;
    opacity: 0;
    z-index: 0;
    border-radius: 50%;
    transition: background-color 0.2s ease, width 0.2s ease, height 0.2s ease, opacity 0.2s ease, z-index 0.2s ease;
  }

  @keyframes closeBtnAnimation {
    0% {    
      width: 0px;
      height: 0px;}
    60% {
      width: 140px;
      height: 140px;
    }
    70% {
      width: 110px;
      height: 110px;
    }
    80% {
      width: 140px;
      height: 140px;
    }
    90% {
      width: 120px;
      height: 120px;
    }
    100% {
      width: 140px;
      height: 140px;
    }
  }

  .au-closebtn:hover:after {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: #EC5362;
    opacity: 1;
    z-index: 1;
    border-radius: 50%;
    animation-name: closeBtnAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

} 

.rightresultbox {
  padding-top: 30px;
  height: calc(100% - 74px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.main-rightresultdiv {
  width: calc(100% - 50px);
  margin: auto;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-rightsection{
  width: 100%;
  position: relative;
  justify-content: center;
}


.main-rightinfo{
  width: 100%;
  display:flex;
  justify-content: center;
  padding-bottom: 10px;

  .user-pic {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
  
    img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
  }

  .main-text {
    width: 60%;
  
  
    p:nth-child(1) {
      margin-top: 30px;
      font-size: 1.3rem;
      color: #262D4B;
      display: block;
    }
  
    p:nth-child(2) {
      display: block;
      font-size: 1rem;
      height: 100%;
      color: rgb(170, 170, 170);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
    }
  
  }
}

.main-rightresultdiv-owner{
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.rightresultdiv {
  width: calc(100% - 50px);
  margin: auto;
  height: 180px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}


.rightsection {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
}


//left section
.rightinfo {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

  .text {
    width: 60%;
  
    p:nth-child(1) {
      // margin-top: 20px;
      font-size: 1.3rem;
      color: #262D4B;
    }
  
    p:nth-child(2) {
      font-size: 1rem;
      color: rgb(170, 170, 170);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
    }
  
  }

}

.user-pic {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

.rightdetail{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 20px 10px 20px;
}

.changerole{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rightlabel {
    width: 40%;
    font-size: 1rem;
  }

  select {
    width: 40%;
    font-size: 0.9rem;
    border-radius: 8px;
    background-color: white;
  }

  .deleterole{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;

    .deletebtn{
      font-size: 20px;
      color: rgb(197, 196, 196);
      border: none;
      border-radius: 4px;
    }

    .deletebtn:hover{
      color: #DB6A43;
    }

  }

}

.deletebtn:hover {
  cursor: pointer;
}

.hide-edit-role-checked{
  visibility: hidden;
  color: white;
  position: absolute;
  top: -15px;
  left: 0px;
  background-color: #257F8B;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 15px;

}

.show-edit-role-checked{
  width: 100%;
  visibility: visible;
  display: flex;
  justify-content: center;
  padding-left: 11px;
  padding-top: 10px;
}

.deletefriendmessagediv{
  width: 100%;
  height: 50px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.deletefaildmessagediv{
  width: 90%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.hide-right-section{
  visibility: hidden;
}

.show-right-section{
  visibility: visible;
}

.authority-hide-trip-id {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  #rightresultcard{
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.62);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .roleeditmodal{
      width: 50%;
      height: 500px;
      max-width: 800px;
      border-radius: 10px;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
  }

  .rightedittitle {
    width: 100%;
    height: 70px;
    border-bottom: 4px solid #EDBB46;
    background: linear-gradient(90deg, rgba(20,30,48,1) 32%, rgba(36,59,85,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      font-size: 25px;
    }


    .au-closebtn{
      width: 30px;
      height: 30px;
      background-color: #35537500;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: none;
    }

    p {
      color: white;
      font-size: 1.5rem;
      padding: 0 20px;
      position: relative;
      z-index: 2;
      margin-top: 0;
      margin-bottom: 0;
    }

    .au-closebtn:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      background-color: #262D4B;
      opacity: 0;
      z-index: 0;
      border-radius: 50%;
      transition: background-color 0.2s ease, width 0.2s ease, height 0.2s ease, opacity 0.2s ease, z-index 0.2s ease;
    }
  
    @keyframes closeBtnAnimation {
      0% {    
        width: 0px;
        height: 0px;}
      60% {
        width: 140px;
        height: 140px;
      }
      70% {
        width: 110px;
        height: 110px;
      }
      80% {
        width: 140px;
        height: 140px;
      }
      90% {
        width: 120px;
        height: 120px;
      }
      100% {
        width: 140px;
        height: 140px;
      }
    }
  
    .au-closebtn:hover:after {
      content: "";
      position: absolute;
      width: 140px;
      height: 140px;
      background-color: #EC5362;
      opacity: 1;
      z-index: 1;
      border-radius: 50%;
      animation-name: closeBtnAnimation;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
    }
  }
  
  
  .rightresultbox {
    padding-top: 30px;
    height: calc(100% - 74px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }


  .main-rightresultdiv {
    width: calc(100% - 50px);
    margin: auto;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .main-rightsection{
    width: 100%;
    display:flex;
    justify-content: center;
  }


  .main-rightinfo{
    width: 60%;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;

    .user-pic {
      width: 40%;
      margin: auto;
      display: flex;
      justify-content: center;
    
      img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
      }
    }

    .main-text {
      width: 60%;
      padding-left: 20px;
      margin-top: 13px;
    
      p:nth-child(1) {
        font-size: 1.3rem;
        color: #262D4B;
      }
    
      p:nth-child(2) {
        font-size: 1rem;
        color: rgb(170, 170, 170);
      }
    
    }
  }

  .main-rightresultdiv-owner{
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
  }

  .rightresultdiv {
    width: calc(100% - 50px);
    margin: auto;
    height: 130px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }


  .rightsection {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  //left section
  .rightinfo {
    width: 60%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

    .text {
      width: 60%;
      padding-left: 20px;
      margin-top: 13px;
      // line-height: 30px;
    
      p:nth-child(1) {
        // margin-top: 20px;
        font-size: 1.3rem;
        color: #262D4B;
      }
    
      p:nth-child(2) {
        font-size: 1rem;
        color: rgb(170, 170, 170);
      }
    
    }

  }

  .user-pic {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
  }


  .rightdetail{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 20px 10px 0;
  }

  .changerole{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .rightlabel {
      width: 100%;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    select {
      width: 60%;
      font-size: 1rem;
      border-radius: 8px;
      background-color: white;
    }

    .deleterole{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .deletebtn{
        font-size: 20px;
        color: rgb(197, 196, 196);
        border: none;
        border-radius: 4px;
      }

      .deletebtn:hover{
        color: #DB6A43;
      }

    }

  }
  
  .deletebtn:hover {
    cursor: pointer;
  }

  .hide-edit-role-checked{
    visibility: hidden;
    color:white;
    display: none;
    position: absolute;
    top: -15px;
    left: 0px;
    background-color: #257F8B;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
  }

  .show-edit-role-checked{
    width: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
  }


  .deletefriendmessagediv{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .deletefaildmessagediv{
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hide-right-section{
    visibility: hidden;
  }

  .show-right-section{
    visibility: visible;
  }

  .authority-hide-trip-id {
    visibility: hidden;
  }
}
