// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#error_explanation{
  font-size: smaller;
  color: #DB6A43;
}
.alert{
  color: rgb(33, 91, 216);
  position: absolute;
  z-index: 3;
}
.field_with_errors{
  display:inline;
  input{
    border: solid 2px #DB6A43;
  }
}