// Place all the styles related to the api/v1/tripinvites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#searchsection{
  border: 1rem;
  border-radius: 8px;
}
.searchtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  
    h1 {
      font-size: 25px;
    }
  
  }
  
.searchform form {
  display: flex;
  // flex-direction: column;
  position: relative;


  input {
    margin-left: 30px;
    margin-right: 5px;
    height: 50px;
    margin-top: 10px;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(206, 206, 206);
  }

  .searchbtn {
    width: 100px;
    height: 50px;
    background-color: #623AD6;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
  }

  .searchbtn:hover {
    cursor: pointer;
  }

  
}
  
.searchresultbox {
    padding-top: 30px;
    height: calc(100vh - 300px);

    p {
      width: 80%;
      font-size: 1.5rem;
      text-align: start;
  
    }
  }
      
.noresultmessagediv {
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.emailresultdiv {
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.emailsection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;

  p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }

  p:nth-child(2) {
    font-size: 1.3rem;
  }

  p:nth-child(3) {
    font-size: 1rem;
    font-display: rgb(202, 201, 201);
  }

}

.addbtn {
  width: 80px;
  height: 50%;
  margin: auto;
  background-color: #623AD6;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}

.addbtn:hover {
  cursor: pointer;
}

.closebtn{
  width: 40px;
  height: 40px;
  background-color: #623AD6;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}


.addbtn:hover {
  cursor: pointer;
}

.noemailinputdiv{
  width: 100%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
  
.hide-trip-id {
  visibility: hidden;
}

.hide-search-section {
  visibility: hidden;
}

.show-search-section {
  visibility: visible;
}

.addfriendmessagediv{
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtwicemessagediv{
  width: 90%;
  margin: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}