// Place all the styles related to the api/v1/tripinvites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.searchtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  
    h1 {
      font-size: 25px;
    }
  
  }
  
  .searchform form {
    display: flex;
    // flex-direction: column;
    position: relative;
  
  
    input {
      margin-left: 30px;
      margin-right: 5px;
      height: 50px;
      margin-top: 10px;
      font-size: 1.3rem;
      padding-left: 10px;
      border-radius: 8px;
      border: none;
      background-color: rgb(206, 206, 206);
    }
  
    a {
      display: block;
      margin-left: 30px;
      margin-right: 30px;
      height: 50px;
      margin-top: 10px;
    }
  
    button {
      width: 100px;
      height: 100%;
      background-color: #623AD6;
      color: white;
      font-size: 1.3rem;
      border: none;
      border-radius: 8px;
    }
  
    button:hover {
      cursor: pointer;
    }
  
  }
  
    .emailinfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: center;
  
      p:nth-child(1) {
        font-size: 1.2rem;
        margin-bottom: 0px;
      }
  
      p:nth-child(2) {
        font-size: 1rem;
      }
  
  
  
    }
  
    .searchresultbox {
        padding-top: 30px;
        height: calc(100vh - 300px);
      }
      
      .noresultmessagediv {
        width: 90%;
        margin: auto;
        height: 100px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      
        p {
          width: 80%;
          font-size: 1.5rem;
          text-align: center;
      
        }
      
      }

      .emailresultdiv{
        width: 90%;
        margin: auto;
        height: 100px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .noemailinputdiv{
        width: 90%;
        margin: auto;
        height: 100px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
  