// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 行程管理頁CSS ================================================================================================

#MyTripPage {
  padding-top: 65px;
}

.headingContainer {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;

  a {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #EDBB46;
    background-image: radial-gradient(100% 100% at 100% 0, #D96A49 0, #EDBB46 100%);
    color: white;
    text-align: center;
    font-size: 1.3rem;
    line-height: 46px;
    border-radius: 10px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transition: box-shadow .15s,transform .15s;
  }

  a:focus {
    box-shadow: #D96A49 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #D96A49 0 -3px 0 inset;
  }

  a:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #D96A49 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  a:active {
    box-shadow: #D96A49 0 3px 7px inset;
    transform: translateY(2px);
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.2em;
  }

}

// Tab Element

.mytriptab {
  background-color: white;
  border: none;
}

.nav .nav-item.show .nav-link, .nav .nav-link.active {
  border-bottom: 4px solid #D96A49;
  color: #D96A49;
}

.nav-link:hover {
  color: #EDBB46;
}

.tab1 button, .tab2 button {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  color: black;
}

.divider {
  margin-top: 0;
}

// Content Section

.tripOverviewContainer {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding-top: 20px;
}

.tripListBox {
  margin-top: 20px;
}

.tripdata {

  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 100px -20px, rgba(0, 0, 0, 0.3) 0px 20px 60px -30px;
  padding: 15px;
  padding-bottom: 15px;
  position: relative;
  transform: none;
  transition: all 0.3s ease;

  
  .tripdataPic {
    overflow: hidden;
    height: 150px;
  }

  .tripdataPic img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
  }

  p {
    margin: 10px 0px 10px 0px;
    color: rgb(128, 128, 128);
  }

  a.planPageLink {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .tripControlBox {

    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -50px;
    left: 0;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgb(219, 219, 219);
    opacity: 0;
    transition: all 0.3s ease;

    div {
      width: 33.333333%;
      text-align: center;

      a {
        text-decoration: none;
      }

    }

    div:nth-child(1) {
      border-radius: 0 0 0 10px;
    }

    div:nth-child(3) {
      border-radius: 0 0 10px 0;    
    }

    div:nth-child(1) a,
    div:nth-child(2) a {
      color: #257F8B;
    }

    div:nth-child(1):hover,
    div:nth-child(2):hover {
      border-bottom: 4px solid #257F8B;
    }

    div:nth-child(3) a,
    div:nth-child(3) i {
      color: #EC5362;
    }

    div:nth-child(3):hover {
      border-bottom: 4px solid #EC5362;
    }

  }

}

.tripdata:hover {

  // padding-bottom: 50px;
  transform: translateY(-25px);
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease;


  .tripControlBox {
    opacity: 1;
    transition: all 0.3s ease;
  }

}

// 當完全沒有任何行程
.tripdataEmpty {

  height: 280px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 100px -20px, rgba(0, 0, 0, 0.3) 0px 20px 60px -30px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(124deg, rgba(255,226,89,1) 0%, rgba(237,150,70,1) 38%);

  i {
    font-size: 4rem;
    position: relative;
    left: 20px;
    top: 20px;
  }

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 90%;
    position: absolute;
    bottom: -100px;
    left: -20px;
    // height: 100%;
    // object-fit: cover;
    // object-position: center;
    transform: translateY(0px);
    // border-radius: 10px;
    transition: all 0.3s ease;
    z-index: 3;
  }


  p:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 500;
    color: #262D4B;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 4;
    transition: all 0.3s ease;
  }

  p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: -10px;
    right: 20px;
    // left: calc( 50% - 60px );
    z-index: 4;
    transition: all 0.3s ease;
  }

}

.tripdataEmpty:hover {
  img {
    // width: 110%;
    // height: 110%;
    // object-fit: cover;
    // object-position: center;
    transform: translateY(-30px);
  }

  p:nth-of-type(1) {
    bottom: 60px;
  }

  p:nth-of-type(2) {
    bottom: 5px;
    color: #262D4B;
    background-color: rgb(255, 255, 255);
  }

}

.followedTripdataEmpty {
  
  height: 280px;
  border-radius: 10px;
  border: 2px dashed rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2rem;
    color: rgb(167, 167, 167);
  }
  
}

// 時間標籤
.timetag_past, .timetag_now, .timetag_future {
  position: absolute;
  width: 80px;
  height: 30px;
  right: -8px;
  top: 30px;
  line-height: 29px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(38, 44, 76, 0.5);
}

.timetag_past {
  background-color: #262D4B;
  color: white;
}
.timetag_past::after {
  content:"";
  position: absolute; 
  top: 100%; 
  right: 0px;
  width: 8px;
  height: 6px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color:#151929;
  z-index: -1;
}

.timetag_future {
  background-color: #eebc37;
  color: white;
}
.timetag_future::after {
  content:"";
  position: absolute; 
  top: 100%; 
  right: 0px;
  width: 8px;
  height: 7px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color:#db6a43;
  z-index: -1;
}

.timetag_now {
  background-color: #1ca9c3;
  color: white;
}
.timetag_now::after {
  content:"";
  position: absolute; 
  top: 100%; 
  right: 0px;
  width: 8px;
  height: 6px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color:#1f7f8c;
  z-index: -1;
}

.trip-time-section-title {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.trips-time-divider {
  margin: 0px;
}

// 角色標籤

.role_tag_view, .role_tag_edit {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.role_tag_view {
  color: #1f7f8c;
}

.role_tag_edit {
  color: #db6a43;
}


@media screen and (max-width: 768px) {
  .tripdata {

    .tripControlBox {
      opacity: 1;
      position: relative;
      top: 15px;
      height: 65px;
      
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      div:nth-child(1) {
        border-radius: 0px 0px 0px 0px;
      }
  
      div:nth-child(3) {
        border-radius: 0px 0px 0px 0px;    
      }
    }
  }

  .tripdata:hover {
    border-radius: 10px;
  }

  .headingContainer {
  display: block;
  margin-bottom: 0px;

  div {
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 65px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: inline-block;
    width: 60%;
    height: 50px;
    border-radius: 25px;
  }

}

.followedTripdataEmpty {
  p {
    font-size: 1.5rem;
  }
}

}

// 建立行程頁CSS 
  .new-trip-container{
    width: 100vw;
    height: calc(100% - 20px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(248, 235, 219);
    padding: 0 100px; 
  }

  .new-trip-box{
    width: 70%;

  }

  .new-trip-page-title{
    font-size: 2rem;
    font-weight: 600;
    color: #262D4B;
    letter-spacing: 0.2em;
    padding-bottom: 40px;
  }

  .new-trip-wrap {
    width: 100%;
    background-color:white;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }


  .new-trip-form-title{
    width: 100%;
    height: 50px;
    color: #262D4B;
    text-align: start;
    padding-left: 20px;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    border-bottom: 4px solid #EDBB46;

  }

  .new-trip-form-content{
    width: 100%;
    padding: 15px 20px 15px 20px;
  }

  .new-trip-fieldname-top{
    width: 100%;
  }

  .new-trip-fieldname-down{
    width: 100%;
    display: flex;
  }

  .new-trip-fieldname-left{
    width: 50%;
    padding-right: 20px;
  }

  .new-trip-fieldname-right{
    width: 50%;
    padding-left: 20px;
  }

  .new-trip-field-label{
    color: #262D4B;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .new-trip-field{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background-color: #DEDEDE;
    margin-bottom: 10px;
    color: #262D4B;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
  }

  .new-trip-button-box {
    width: 100%;
    display: flex;
    justify-content:end;
    margin-top: 30px;

    input {
      height: 40px;
      width: 20%;
      min-width: 150px;
      background-color: #262D4B;
      color: white;
      border: none;
      border-radius: 8px;
      transition: all 0.3s ease;
    }
    input:hover {
      background-color: #257F8B;
    }
  }

  .new-trip-illustration-box {

    width: 30%;
    min-width: 350px;
    position: relative;
    margin-top: 140px;
    z-index: 0;

      img {
        height: 500px;
        margin-left: -100px;
      }
  }

  @media screen and(max-width: 767px) {
    .new-trip-container{
      flex-direction: column;
    }


    .new-trip-box{
      width: 90%;
      position: absolute;
      top: 150px;
    }

    .new-trip-button-box {
      width: 100%;
      display: flex;
      justify-content:center;
      margin-top: 30px;
  
      input {
        height: 40px;
        width: 100%;
        background-color: #262D4B;
        color: white;
        border: none;
        border-radius: 8px;
        transition: all 0.3s ease;
      }
      input:hover {
        background-color: #257F8B;
      }
    }

    .new-trip-illustration-box {

      width: 30%;
      margin-top: 140px;
      z-index: 0;
  
        img {
          margin-top: 300px;
          margin-left: -100px;
        }
    }

    .new-trip-fieldname-down{
      width: 100%;
      display: block;
    }
  
    .new-trip-fieldname-left{
      width: 100%;
      padding-right: 0px;
    }
  
    .new-trip-fieldname-right{
      width: 100%;
      padding-left: 0px;
    }

    .new-trip-field{
      margin-bottom: 0px;
    }
  }