
#planView {
  padding-top: 60px;
  display: flex;
}

#googleMapSection {
  width: 70%;
  height: calc(100vh - 60px);
}

#spotPlanningSection {
  width: 30%;
  min-width: 350px;
  height: calc(100vh - 60px);
  background-color: rgb(206, 206, 206);
}

// spotPlanningSection
#dataTitle {
  position: relative;
  background-color: #fff;
  height: 120px;
  #tripName {
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 5px 20px;
  }
  .tripDate {
    display: flex;
  }
  .nameError {
    height: 16px;
    color: #f00;
    font-size: 14px;
    padding: 5px 20px 0px 20px;
  }
  .starEnd {
    padding: 5px 20px;
    color: #666;
  }
  .dayLength {
    padding: 5px 20px;
    color: #666;
  }
}

#dataBody {
  background-color: #fff;
  height: calc(100vh - 230px);
  .dayBox {
    display: flex;
    justify-content: space-between;
    height: calc(70px - 1px);
    border-top: 1px solid #ccc;
  }
  .dayBack, .dayNext{
    width: 5%;
    padding: 5px;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dayBack {
    box-shadow: 5px 0px 5px 0px #ccc;
  }
  .dayNext {
    box-shadow: -5px 0px 5px 0px #ccc;
  }
  .dayBack:hover, .dayNext:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .dayTitle {
    display: flex;
    width: 90%;
    max-width: 90%;
    overflow: scroll;
  }
  .dayTitle::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  #dayBTN {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  .active {
    background-image: linear-gradient(to top, #eebc39 0%, #eebc39 8%, transparent 8%, transparent 100%);
    color: #000;
    font-weight: bold;
  }
  #dayBTN:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .spotBox {
    height: calc(100vh - 290px);
    max-height: calc(100vh - 290px);
    background-color: #ddd;
    overflow: scroll;

    .spotStartTime {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      height: 30px;
    }
    .spotMapList {
      background-color: #fff;
      box-shadow: 0px 3px 3px 0px #ccc;
      padding: 30px 30px;
      margin-bottom: 10px;
      cursor: move;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease;
      position: relative;
    }

    .spotContentDetailsControl {
      width: 70%;
      cursor: pointer;
    }
    .address {
      width: 14em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .position {
      display: none;
    }

    .spotIconControl {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .moveIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        margin: 0 20px 0 20px;
      } 

      .spotDeleteIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        margin: 0 20px 0 20px;
        transition: all 0.3s ease;
      } 

      .spotDeleteIcon:hover {
        cursor: pointer;
        color: #D96A49;
        font-size: 1.2rem;
      }
    }


  }
  .spotBox::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.spotBTN {
  background-color: #eebc39;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotBTN:hover {
  font-weight: bold;
}

// planMessage CSS

@keyframes showPlanMessage {
  from {
    top: -30px;
  }
  to {
    top: 0px;
  }
}

.planMessage {
  position: absolute;
  width: 100%;
  height: 30px;
  text-align: center;
  top: -30px;
  left: 0px;
  z-index: 100;
  line-height: 30px;
}

.planMessageSuccess {
  background-color: rgb(96, 180, 96);
  color: white;
  top: 0px;
  animation-name: showPlanMessage;
  animation-duration: 0.3s;
}

.planMessageFailed {
  background-color: rgb(211, 102, 102);
  color: white;
  top: 0px;
  animation-name: showPlanMessage;
  animation-duration: 0.3s;
}