
#planView {
  padding-top: 60px;
  display: flex;
  position: relative;
}

#googleMapSection {
  // width: 70%;
  height: calc(100vh - 60px);
  position: relative;
  z-index: 1;
}

.mapInPlanPage {
  width: calc(100% - 400px);
  background-color: rgb(231, 255, 187);
}

.mapInPlanPageWithDetails {
  width: calc(100% - 800px);
  height: calc(100vh - 60px);
}

#spotPlanningSection {
  width: 400px;
  height: calc(100vh - 60px);
  background-color: rgb(206, 206, 206);
  box-shadow: 8px 0px 10px rgba(130, 130, 130, 0.619);
  position: relative;
  z-index: 3;
}

.spotDetailsBoxinPlan {
  width: 400px;
  height: calc(100vh - 60px);
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-y: auto;
  position: relative;
  z-index: 2;
}

// spotPlanningSection
#dataTitle {
  position: relative;
  background-color: #fff;
  height: 120px;
  #tripName {
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 5px 20px;
  }
  .tripDate {
    display: flex;
  }
  .nameError {
    height: 16px;
    color: #f00;
    font-size: 14px;
    padding: 5px 20px 0px 20px;
  }
  .starEnd {
    padding: 5px 20px;
    color: #666;
  }
  .dayLength {
    padding: 5px 20px;
    color: #666;
  }
}

#dataBody {
  background-color: #fff;
  height: calc(100vh - 230px);
  .dayBox {
    display: flex;
    justify-content: space-between;
    height: calc(70px - 1px);
    border-top: 1px solid #ccc;
  }
  .dayBack, .dayNext{
    width: 5%;
    padding: 5px;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dayBack {
    box-shadow: 5px 0px 5px 0px #ccc;
  }
  .dayNext {
    box-shadow: -5px 0px 5px 0px #ccc;
  }
  .dayBack:hover, .dayNext:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .dayTitle {
    display: flex;
    width: 90%;
    max-width: 90%;
    overflow: scroll;
  }
  .dayTitle::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  #dayBTN {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  .active {
    background-image: linear-gradient(to top, #eebc39 0%, #eebc39 8%, transparent 8%, transparent 100%);
    color: #000;
    font-weight: bold;
  }
  #dayBTN:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .spotBox {
    height: calc(100vh - 290px);
    max-height: calc(100vh - 290px);
    background-color: #ddd;
    overflow: scroll;

    .spotStartTime {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      height: 30px;
    }
    .spotMapList {
      background-color: #fff;
      box-shadow: 0px 3px 3px 0px #ccc;
      padding: 20px 20px 20px 5px;
      margin-bottom: 10px;
      cursor: move;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease;
      position: relative;

      .spotName {
        padding-right: 10px;
      }

    }

    .poitypeAndNumberBox {
      width: 10%;
      height: 100%;
      text-align: center;
      margin-right: 5px;

      .poiNumber {
        font-size: 1.3rem;
        font-weight: 500;
        color:#EDBB46;
      }

      .poitype {
        color:#D96A49;
      }


    }

    .spotContentDetailsControl {
      width: 70%;
      cursor: pointer;
    }
    .address {
      width: 14em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgb(171, 171, 171);
    }
    .position {
      display: none;
    }

    .spotIconControl {
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .moveIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        margin: 0 15px 0 15px;
      } 

      .spotDeleteIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        margin: 0 15px 0 15px;
        transition: all 0.3s ease;
      } 

      .spotDeleteIcon:hover {
        cursor: pointer;
        color: #D96A49;
      }
    }


  }
  .spotBox::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.spotBTN {
  background-color: #eebc39;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotBTN:hover {
  font-weight: bold;
}

// planMessage CSS

@keyframes showPlanMessage {
  from {
    top: -30px;
  }
  to {
    top: 0px;
  }
}

.planMessage {
  position: absolute;
  width: 100%;
  height: 30px;
  text-align: center;
  top: -30px;
  left: 0px;
  z-index: 100;
  line-height: 30px;
}

.planMessageSuccess {
  background-color: rgb(96, 180, 96);
  color: white;
  top: 0px;
  animation-name: showPlanMessage;
  animation-duration: 0.3s;
}

.planMessageFailed {
  background-color: rgb(211, 102, 102);
  color: white;
  top: 0px;
  animation-name: showPlanMessage;
  animation-duration: 0.3s;
}


// SpotDetails section in Plan page

.spotDetailsTitleBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .spotDetailsTitleinPlan {
    width: 90%;
    height: 60px;
    background-color: white;
    position:relative;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  
    i {
      margin-right: 10px;
    }
  
  }

  .detailsCloseBtn {
    width: 10%;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
  }

}


// SpotComment section

.spotCommentForm {
  padding: 40px 20px 20px 20px;
  border-top: 4px solid #eebc39;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .spotCommentTitle {
      display: block;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .commentSaveBTN {
      display: inline-block;
      text-align: center;
      width: 75px;
      color: #262D4B;
      border: none;
      background-color: #eebc39;
      border-radius: 8px;
      transition: all 0.3s ease;
    }

    .commentSaveBTN:hover {
      background-color: #262D4B;
      color: white;
      cursor: pointer;
    }

  }

  .spotCommentInput {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    color: #262D4B;
    margin-top: 20px;
  }

  .spotCommentInput:focus {
    outline-color: #DB6A43;
  }

}

.spotDetailsContentBox {
  position: relative;

  .addCommenttoSpot {
    width: 400px;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 400px;
    background-color: white;
    box-shadow: 0px -5px 10px rgba(77, 77, 77, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 80%;
      height: 40px;
      border-radius: 5px;
      border: none;
      background-color: #EDBB46;
      color: #262D4B;
      font-size: 1.3rem;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: #262D4B;
      color: white;
      cursor: pointer;
    }
  }
}

@keyframes showCommentSaveStatus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.commentSaveSuccess {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: rgb(96, 180, 96);
  width: 100%;
  color: white;
  text-align: center;
  animation-name: showCommentSaveStatus;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.commentSaveFailed {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: rgb(211, 102, 102);
  width: 100%;
  color: white;
  text-align: center;
  animation-name: showCommentSaveStatus;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}