#planView {
  padding-top: 60px;
  display: flex;
}
#spotPlanningSection,#PlanPageView {
  height: calc(100vh - 60px);
  background-color: rgb(206, 206, 206);
}
@media screen and (max-width: 767px) {
  #googleMapSection {
    height: calc(95vh - 60px);
    width: 100%;
    z-index: 0;
  }
  #spotPlanningSection,#PlanPageView {
    height: calc(95vh - 60px);
  }
  .planPageUp {
    height: calc(95vh - 60px);
    width: 100%;
    min-width: 280px;
    position: absolute;
    z-index: 1;
  }
  .spotBox {
    height: calc(95vh - 290px);
    max-height: calc(95vh - 290px);
  }
  .spotBoxView {
    height: calc(100vh - 289px);
    max-height: calc(100vh - 289px);
  }
  .planPageDown {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .planFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #eebc39;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .changeIndex {
    text-align: center;
    letter-spacing: 2px;
    background-color: #262C4C;
    color: #EEBC38;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 7px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  #googleMapSection {
    height: calc(100vh - 60px);
  }
  #spotPlanningSection,#PlanPageView {
    width: 400px;
  }
  #googleMapSection {
    width: calc(100% - 400px);
  }
  #dataBody {
    height: calc(100vh - 230px);
  }
  .spotBox {
    height: calc(100vh - 290px);
    max-height: calc(100vh - 290px);
  }
  .spotBoxView {
    height: calc(100vh - 255px);
    max-height: calc(100vh - 255px);
  }
}
// spotPlanningSection
#dataTitle {
  height: 120px;
  width: 100%;
  position: relative;
  background-color: #fff;
  #tripName {
    width: 70%;
    font-weight: bold;
    font-size: 22px;
    border: none;
    margin: 5px 0px 0px 20px;
    border-bottom: 1px solid rgb(206, 206, 206);
  }
  #tripNameView {
    width: 70%;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 0px 20px;
  }
  .nameError {
    height: 16px;
    color: #f00;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    padding-bottom: 0px;
  }
  .loading {
    float: right;
    color: #666;
  }
  .starEnd {
    padding: 5px 20px;
    color: #666;
  }
  .dayLength {
    padding: 5px 20px;
    color: #666;
  }
  .hideInput {
    display: none;
  }
  .mx-datepicker {
    width: 30px;
    padding-bottom: 6px;
  }
  .mx-icon-calendar {
    display: block;
  }
}
#dataBody {
  width: 100%;
  background-color: #fff;
  .dayBox {
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .dayBack, .dayNext{
    width: 5%;
    padding: 5px;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dayBack {
    box-shadow: 5px 0px 5px 0px #ccc;
  }
  .dayNext {
    box-shadow: -5px 0px 5px 0px #ccc;
  }
  .dayBack:hover, .dayNext:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .dayTitle {
    display: flex;
    width: 90%;
    max-width: 90%;
    overflow: scroll;
  }
  .dayTitle::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  .dayBTN {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  .active {
    background-image: linear-gradient(to top, #eebc39 0%, #eebc39 8%, transparent 8%, transparent 100%);
    color: #000;
    font-weight: bold;
  }
  #dayBTN:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .demarcation {
    height: 5px;
    background-color: #eebc39;
  }
  .chosenClass {
    display: none !important;
  }
  .spotBox {
    background-color: #ddd;
    overflow: scroll;
    .spotStartTime {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      height: 30px;
    }
    .spotMapList {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: 0px 3px 3px 0px #ccc;
      padding: 30px 40px;
      margin-bottom: 10px;
      cursor: move;
    }
    .spotMapListView {
      cursor: default;
    }
    .address {
      width: 14em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .position {
      display: none;
    }
    .schedule_spots_id {
      display: none;
    }
    .moveIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ddd;
    }
  }
  .spotBox::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.spotBTN {
  background-color: #eebc39;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotBTN:hover {
  font-weight: bold;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  // visibility: hidden;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}