#app{
  position: relative;
}
.avatar-container{
  width: 200px;
  height: 200px;
  overflow:hidden;
  position: absolute;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.avatar-original{
  width: 200px;
  height: 200px;
}
