.users-container{
  position: relative;
  width: 100vw;
  height: calc(100% - 20px);
  margin: 0, auto;
  background: linear-gradient(225deg, rgba(255,226,89,1) 15%, rgba(237,150,70,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-attachment: fixed;
}
.users-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
@keyframes showcaseIllustration {
  from {
    margin-left: -180px;
    opacity: 0;
  }
  to {
    margin-left: -100px;
    opacity: 1;
  }
}

@keyframes showcaseMessage {
  from {
    margin-left: -180px;
    opacity: 0;
  }
  to {
    margin-left: 15px;
    opacity: 1;
  }
}


@keyframes showcaseRegisterLoginModal {
  from {
    margin-right: -180px;
    opacity: 0.5;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}

.registeration-message-illustration-box {
  
  width: 30%;
  min-width: 350px;
  position: relative;
  margin-top: 140px;
  z-index: 0;

  .register-page-title {
    width: 120%;
    text-align: left;
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: -25px;
    animation-name: showcaseMessage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    p {
      font-size: 1.7rem;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  .register-page-image-box {

    img {
      height: 500px;
      margin-left: -100px;
      margin-top: 40px;
      animation-name: showcaseIllustration;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }

}


.login-message-illustration-box {
  
  width: 30%;
  min-width: 350px;
  position: relative;
  margin-top: 140px;
  z-index: 0;

  .login-page-title {
    width: 120%;
    text-align: left;
    margin-left: 15px;
    position: absolute;
    left: 0;
    top: -20px;
    animation-name: showcaseMessage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    p {
      font-size: 1.7rem;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  .login-page-image-box {

    img {
      height: 500px;
      margin-left: -100px;
      margin-top: 20px;
      animation-name: showcaseIllustration;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }

}


.users-wrap {
  width: 25%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  animation-name: showcaseRegisterLoginModal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


.register-login-form {
  width: 100%;
  border-radius: 20px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 65px;
}

.register-login-title {
  width: 100%;
  line-height: 50px;
  text-align: center;
  height: 50px;
  font-size: 1.3rem;
  border-bottom: 4px solid #EDBB46;
}

.register-login-form-content {

  padding: 15px 20px 15px 20px;
}

.register-field {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background-color: #DEDEDE;
  margin-bottom: 10px;
  color: #262D4B;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}

.register-login-button-box {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: #262D4B;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }

  input:hover {
    background-color: #257F8B;
  }
}

.registerlogin-already-message {
  text-align: center;
  font-size: 0.7rem;

  a {
    color: #D96A49;
  }

  a:hover {
    text-decoration: underline;
  }
}

.third-party-btn {
  width: 100%;
  height: 40px;
  border: 2px solid #262D4B;
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
  background-color: white;
  transition: all 0.3s ease;

  i {
    font-size: 1.5rem;
    color: #262D4B;
    position: absolute;
    left: 15px;
    top: 6px;
  }

  a {
    display: inline-block;
    color: #262D4B;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 36px;
    margin: auto;
  }
}

.third-party-btn:last-child {
  margin-bottom: 0px;
}

.third-party-btn:hover {
  background-color: #D96A49;
  color: white;
  border: 2px solid #D96A49;
}

.registerlogin-divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 0px;

  hr {
    display: block;
    width: 40%;
    height: 2px;
    border-width: 0;
    background-color: #262D4B;
  }

  p {
    width: 15%;
    color: #262D4B;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .users-container {
    flex-direction: column;
    height: calc(100% - 20px);
    padding-top: 200px;
  }
  .users-wrap {
    animation-name: none;
  }
  .registeration-message-illustration-box{
    margin-top: -600px;
    position: static;
    .register-page-title {
      position: relative ;
      top: 0px;
      left: auto;
      right: auto;
      p {
        font-size: 1.2rem;
      }
      h1 {
        margin-top: -10px;
        font-size: 2.0rem;
      }
    }
    .register-page-image-box img {
      position: relative;
      left: 120px;
    }
  }
}

// User info editing SCSS section ======================

.user-info-section {
  width: 50%;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
}

@keyframes showUserEditModal {
  from {
    opacity: 0;
    margin-bottom: -150px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.user-info-content-box {
  width: 100%;
  border-radius: 20px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 65px;
  padding-bottom: 20px;
  position: relative;
  animation-name: showUserEditModal;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  .user-edit-title {
    width: 100%;
    line-height: 50px;
    text-align: center;
    height: 50px;
    font-size: 1.3rem;
    border-bottom: 4px solid #EDBB46;
  }

  form {
    width: 75%;
    margin: auto;
    margin-top: 20px;

    .user-edit-info {
      display: flex;
      background-color: #DEDEDE;
      border-radius: 10px;

      .user-edit-photoupload-section {
        width: 35%;
        min-width: 200px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;

        div.avatar-container {
          width: 100%;
          border: 2px solid #262D4B;
          border-radius: 10px;
        }

        img {
          border-radius: 10px;
          width: 100%;
          object-fit: cover;
        }

        .avatar-uploader {
          margin-top: 10px;
          width: 100%;
          text-align: center;
          background-color: #262D4B;
          color: white;
          border-radius: 8px;
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer;

          input {
            display: none;
          }
        }
      }

      .recover-avatar {
        font-size: 0.8rem;
        margin-top: 5px;
      }

      .user-edit-name-section {
        width: 65%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          display: inline-block;
          width: 100%;
          font-size: 1.3rem;
          margin-bottom: 10px;
        }

        input {
          border: none;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.user-edit-submit {
  display: flex;
  justify-content: flex-end;
  position: relative;
  
  input {
    display: inline-block;
    position: absolute;
    top: -60px;
    right: 20px;
    height: 40px;
    width: 130px;
    background: #FFE259;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
  }

  input:hover {
    background: #D96A49;
    color: white;
  }

}

#app{
  position: relative;
}
.avatar-container{
  width: 200px;
  height: 200px;
  overflow:hidden;
  position: absolute;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.avatar-original{
  width: 200px;
  height: 200px;
}

.user-delete {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 20px;

  form {
    input {
      background-color: #fff;
      font-size: 0.7rem;
      color: grey;
      border: none;
    }
  }

}

.user-info-edit-loader-hidden {
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.701);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.56);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    display: inline-block;
    width: 150px;
  }

  p {
    font-size: 1.3rem;
  }
}

@keyframes showUpdatingUserInfoLoader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.user-info-edit-loader-hidden-show {
  visibility: visible;
  animation-name: showUpdatingUserInfoLoader;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@media screen and (max-width: 767px) {
  .login-message-illustration-box {
    position: static;
    margin-top: -460px;
    .login-page-title {
      position: relative;
      top: -30px;
      left: auto;
      right: auto;
      p {
        font-size: 1.2rem;
      }
      h1 {
        margin-top: -10px;
        font-size: 2.0rem;
      }
    }
    .login-page-image-box img {
      position: relative;
      top: 200px;
    }
  }
}
@media screen and (max-width: 767px) {
  #user-edit {
    padding-top: 0px;
  }
  .user-edit-info {
    flex-direction: column;
    align-items: center;
    min-width: 240px;
  }
  .user-info-section {
    min-width: 320px;
  }
  .user-edit-photoupload-section {
    margin-top: 20px;
  }
  .user-info-content-box {
    min-width: 280px;
    margin-top: 350px;
    margin-bottom: 50px;
    form .user-edit-info .user-edit-name-section {
      width: 100%;
      padding-bottom: 55px;
    }
  }
  .user-edit-submit input {
    margin: auto;
    position: relative;
    top: 20;
    right: 0;
  }
  .user-delete {
    margin-top: 0px;
  }
}

 