// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#error_explanation{
  color: red;
}
.field_with_errors{
  display:inline;
  input{
    border: solid 2px red;
  }
}
.user_profile{
  display: flex;
  align-items: center;
}
#user_image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
}
.avatar_original{
  width: 200px;
  height: 200px;
}