// Place all the styles related to the api/v1/spotfinders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#searchPageBox {
  display: flex;
}

#searchSection {
  width: 30%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#mapInSearchSection {
  width: 70%;
  height: 100vh;
  background-color: rgb(231, 255, 187);
}

.searchtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  i {
    font-size: 1.6rem;
  }

}

.searchForm form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;

  input {
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    margin-top: 10px;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(206, 206, 206);
  }

  a {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    margin-top: 10px;
  }

  button {
    width: 100%;
    height: 100%;
    background-color: #623AD6;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
  }

  button:hover {
    cursor: pointer;
  }

  .cleanInput1, .cleanInput2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(170, 170, 170);
  }

  .cleanInput1 {
    right: 30px;
    top: 11px;
  }

  .cleanInput2 {
    right: 30px;
    top: 73px;
  }

  .cleanInput1:hover, .cleanInput2:hover {
    cursor: pointer;
    color: #623AD6;
  }

}

.searchResultBox {
  padding-top: 30px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.noResultMessageDiv {
  width: 90%;
  margin: auto;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;

  }

}

.spotItem {

  width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  p {
    width: 50%;
    font-size: 1.5rem;
    padding-left: 20px;
  }

  div {
    width: 50%;
    overflow: hidden;
  }

  img {
    width: 200%;
    border-radius: 0px 10px 10px 0px;
  }


}